apiVersion: v1
kind: Service
metadata:
  name: redis-service
spec:
  type: ClusterIP
  selector:
    app: redis-db # This must match the 'app' label in your redis-deployment.yml
  ports:
    - port: 6379
      targetPort: 6379
